.reviews__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  max-width: 900px;
  margin: 0 auto;
  list-style: none;
}

.no_reviews {
  text-align: center;
  font-size: 18px;
  color: #777;
  margin-top: 20px;
}
