.pagination {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.paginationItem {
  padding: 0px 10px;

  /* background-color: green; */
}

.activePage {
  color: red;
}

.paginationLink {
  /* color: black; */
  cursor: pointer;
}

.paginationLink:hover {
  color: rgba(1, 180, 228);
}
