.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 20px;
  background-color: #1c1c1c;
  box-shadow: 0 2px 5px rgba(21, 12, 12, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.menu {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headerLogo {
  height: 40px;
  cursor: pointer;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 30px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover {
  color: white;
  background: linear-gradient(to right, rgb(81, 240, 229), rgb(121, 177, 244));
}

.isActive {
  color: white;
  background: linear-gradient(to right, rgb(81, 240, 229), rgb(121, 177, 244));
}

.searchField {
  width: 200px;
  max-width: 100%;
  overflow: hidden;
}

.icon {
  margin-right: 8px;
  font-size: 18px;
  vertical-align: middle;
}

.profileContainer {
  position: relative;
  display: inline-block;
}

.profileButton {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.profileButton:hover,
.dropdownItem:hover {
  color: rgba(1, 180, 228);
}

.userIcon {
  font-size: 24px;
  color: #666;
}

.profileContainer:hover .dropdownMenu {
  display: block;
}

.dropdownMenu {
  display: none;
  position: absolute;
  top: 100%;
  right: -75px;
  background: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  width: 150px;
  z-index: 10;
}

.dropdownItem {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.dropdownItem:hover {
  background: #f0f0f0;
}
