.list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: left;
}

.list_item {
  margin-top: 0px;
  margin-left: 20px;
}

.list_item:hover {
  .title {
    color: rgba(1, 180, 228);
  }
}

.title {
  color: black;
  width: 220px;
}
