.cast__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.cast__card {
  overflow: auto;
  border: 1px solid black;
  border-radius: 5%;
  margin: 5px;
  width: 200px;
}

/* .image {
  height: 80%;
} */
