.trending {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 10px auto;
}
.trending__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
}

.trending__header {
  font-weight: bold;
}
.trending__list {
  display: flex;
  margin-left: 20px;
  gap: 1rem;
  border: 1px solid #032541;
  border-radius: 30px;
}

.trending__item {
  color: rgb(3, 37, 65);
  padding: 0px;
  background-color: transparent;
  font-weight: 600;
  border-radius: 30px;
  border: none;
  z-index: 1;
}
.trending__item:focus {
  outline: none;
}

.trending__text {
  display: flex;
  padding: 10px 20px;
}
.active .trending__text {
  color: white;
  background: linear-gradient(in hsl, #72f183 0, #2594ee 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.active {
  background-color: rgba(3, 37, 65);
}

.trending__item:hover {
  background-color: rgba(3, 37, 65);
}
.trending__text:hover {
  color: white;
  background: linear-gradient(in hsl, #72f183 0, #2594ee 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
